﻿<div class="box">
    <div class="leftboxcontent">
        <h2><a href="#/search">Search for recipes</a></h2>
        Search our database for your favorite recipes.&nbsp; We have recipes for every
        occasion and taste.
    </div>
    <div class="rightboximage"><img class="recipeImage" src="Content/Images/food/egg-clip.jpg" alt="Recipe search" /></div>
</div>
<div class="box">
    <div class="rightboxcontent">
        <h2><a href="#/random">I feel lucky</a></h2>
        If you are completely out of ideas, we will come up with a recipe idea for you.
    </div>
    <div class="leftboximage"><img class="recipeImage" src="Content/Images/food/waffles-clip.jpg" alt="Random recipe" /></div>
</div>
<div class="box">
    <div class="leftboxcontent">
        <h2><a href="#/weeklymenu">Weekly Menu</a></h2>
        Tired of deciding what to eat for dinner? Get some ideas from our weekly menu.
    </div>
    <div class="rightboximage"><img class="recipeImage" src="Content/Images/food/pizza-clip.jpg" alt="Weekly menu" /></div>
</div>
<div class="box">
    <div class="rightboxcontent">
        <h2><a href="#/toprecipes">Top Recipes</a></h2>
        See what recipes other users tagged as their favorites
    </div>
    <div class="leftboximage"><img class="recipeImage" src="Content/Images/food/icecream-clip.jpg" alt="Top Recipes" /></div>
</div>
