﻿<div>
    <h2>{{recipe.name}}</h2>
    <div class="box">
        <div class="rightboxcontent">
            <table>
                <tr>
                    <td class="style_bold">Price:</td>
                    <td>{{recipe.price | currency}}</td>
                </tr>
                <tr>
                    <td class="style_bold">Cooking Time:</td>
                    <td>{{recipe.time}}&nbsp;minutes</td>
                </tr>
            </table>
        </div>
        <div class="leftboximage">
            <img class="recipeImage" ng-src="Content/Images/food/{{recipe.image}}.jpg" />
        </div>
    </div>
    <h3>Ingredients</h3>
    <ul class="ingredientsList">
        <li ng-repeat="recipeIngredient in recipe.recipeIngredients" ng-bind-template="{{recipeIngredient.amount}} {{recipeIngredient.amountType}} {{recipeIngredient.ingredient.name}}">
        </li>
    </ul>
    <h3>Instructions</h3>
    <ol>
        <li ng-repeat="recipeInstruction in recipe.recipeInstructions" ng-bind="recipeInstruction.instructionText"></li>
    </ol>
</div>
