﻿<nav>
    <ul>
        <li><a href="#/">Home</a></li>
        <li><a href="#/search">Search Recipes</a></li>
        <li><a href="#/random">I feel lucky</a></li>
        <li><a href="#/weeklymenu">Weekly Menu</a></li>
        <li><a href="#/toprecipes">Top recipes</a></li>
        <li><a href="#/contactus">Contact Us</a></li>
    </ul>
</nav>
